<nav>
  <ul>
    <li><a ui-sref="home">Home | </a></li>
    <li><a ui-sref="map"> Map | </a></li>
    <li><a ui-sref="favorites"> My Places</a></li>
  </ul>
</nav>
<input type="text" class="controls" id="pac-input">
<div class="container">
  <div class="console">
    <div class="location-details">
      <h2 class="consoleHeader">Location</h2>
      <p class="zip-code"></p>
      <p class="area-name"></p>
      <p class="county-state-name"></p>
    </div>
    <div class="rent-details">
      <h2 class="consoleHeader">Rent Details</h2>
      <p class="avg-family-rent"></p>
      <p class="avg-studio-rent"></p>
      <p class="avg-onebed-rent"></p>
      <p class="avg-twobed-rent"></p>
      <p class="avg-threebed-rent"></p>
    </div>
    <div class="filter-option">
      <h2>View Nearby:</h2>
      <p class="checkbox"><input ng-click="vm.addFilter('restaurant')" class="map-filter restaurant" ng-model="vm.activeFilters.restaurant" type="checkbox">Restaurants</p>
      <p class="checkbox"><input ng-click="vm.addFilter('grocery_or_supermarket')" ng-model="vm.activeFilters.grocery_or_supermarket" class="map-filter grocery_or_supermarket" type="checkbox">Grocery Stores</p>
      <p class="checkbox"><input ng-click="vm.addFilter('gym')" class="map-filter gym" ng-model="vm.activeFilters.gym" type="checkbox">Gyms</p>
      <p class="checkbox"><input ng-click="vm.addFilter('school')" class="map-filter school" ng-model="vm.activeFilters.school" type="checkbox">Schools</p>
      <p class="checkbox"><input ng-click="vm.addFilter('bar')" class="map-filter bar" ng-model="vm.activeFilters.bar" type="checkbox">Nightlife</p>
    </div>
    <button type="button" class="favorite-button">Favorite Zip</button>
  </div>
  <div id="map"></div>
</div>
